.contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 50px auto;
    padding: 1em;
    width: 90%;
}

.container div {
    margin: 0.5em 0.5em;
    width: 10%;
    text-align: center;

}