* {
    box-sizing: border-box;
}

.container {
    border:1px solid black;
    border-radius: 1rem;
    margin: 50px auto;
    padding: 1rem;
    width: 70%;
}

.gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:1rem;
    border: 2px solid saddlebrown;
}

.gallery div {
    margin: 1rem 1rem;
    width: 15%;
    border-radius: 0%;
}
.ponerBorde{
   border:5px solid red;
}
.quitarBorde{
    border:none;
}